* {
    margin: 0;
    padding: 0;
    color: rgb(38,22,9);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(249,241,204);
}

html, body {
    height: 100%;   
    margin: 0;
    padding: 0;
}

.wrapper {
    min-height: calc(100% - 4%);
    display: flex;
    flex-direction: column;
}

section.wrapper {
    flex: 1;
}

.message{
    padding-left: 50px;
    color: red;
}

input:focus {
    border-color: red;
}

header, footer {
    background-color: rgb(234,180,100);
    font-weight: bold;
    padding: 0 5px;
}

footer {
    bottom: 0;
    text-align: right;
    height: 4%;
    padding: 10px;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    z-index: 2;
}

nav ul li{
    display: inline-block;
    position: relative;
}

nav ul li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    font-size: 20px;
    width: 120px;
}

nav img {
    width: 25%;
}

.icon {
    width: 15%;
}

.innerlist {
    display: none;
    background-color: rgb(183,142,109);
    position: absolute;
}

.innerlist li {
    display: block;
}

.innerlist li a {
    border-bottom: 1px solid whitesmoke;
}

nav ul li:hover .innerlist {
    display: block;
    width: 100%;
}

nav ul li:last-child .innerlist{
    right: 0;
}

.title {
    margin: 50px 50px 30px;
}

.wrapper .mainContent {
    margin: 50px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 90%;
}

thead {
    background-color: rgb(234, 180, 100);
}

.mainTable tbody:first-child, tbody:nth-child(2) {
    border-bottom: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

input, select, textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    outline: none;
    box-sizing: border-box;
    font-size: 12px;
}

input[type="radio"] {
    appearance: none;
    width: 15px;
    height: 15px;
}

input[type="radio"]:not(:first-child) {
    margin-left: 20px;
}

input[type="radio"]:checked {
    background-color: rgb(234,180,100);
}

button, a.submit {
    margin: 5px;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 18px;
    float: right;
}

.submit {
    background-color: rgb(74,185,103);
}

.normal {
    background-color: rgb(234,180,100);
}

.delete {
    background-color: rgb(255,88,76);
}

.dash-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    position: relative;
    width: auto;
    background-image: url("../assets/img/dashBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.dash-title::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(22, 21, 21, 0.486)
}

.dash-title p {
    z-index: 1;
    font-weight: bold;
    font-size: 50px;
    color: #FFFFFF;
    text-align: center;
    margin: 0;
}

#dashboard h2{
    margin-bottom: 20px;
    font-size: 30px;
}

#dashboard article:not(:first-child) {
    padding: 50px;
}

#dashboard p:not(:first-child){
    text-align: justify;
    color:#323436;
    font-size: 16px;
}

#vision, #about1 {
    background-color: #EEC586;
}

#mission, #about2 {
    background-color: #E5A442;
}

#mission h2 {
    text-align: right;
}

#collaboration {
    background-color: #DEE1E6;
}

#collaboration h2 {
    text-align: center;
}

.flex-container {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.center {
    margin-left: 20px; /* Optional for spacing */
}

#collaboration img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.round {
    width: 15%;
    border-radius: 100%;
}
